.list-group {
    position: absolute;
    top: 30px;
    bottom: 100px;
    left: 200px;
    right: 200px;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.text-footer {
    position: absolute;
    bottom: 20px;
    left: 100px;
    right: 100px;
}

.text-footer input[type=text] {
    width: 50%;
}