<div class="container-fluid vh-100">
    <div class="row justify-content-center">
        <h3>Jobsity Chat</h3>
    </div>
    <div class="list-group">
        <ng-template ngFor let-message [ngForOf]="userMessages">
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{message.userName}}</h5>
                    <small>{{message.date | date:'medium'}}</small>
                </div>
                <p class="mb-1">{{message.message}}</p>
            </a>
        </ng-template>
        </div>
    <div class="row justify-content-center text-footer">
        <input type="text" [(ngModel)]="currentMessage" />
        <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
</div>
