<div class="d-flex justify-content-center">
  <div class="row">
    <div class="bg-light p-5">
      <div class="form-group">
        <label for="username">User name</label>
        <input type="email" class="form-control" id="username" [(ngModel)]="loginData.username" placeholder="Enter user name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="loginData.password" placeholder="Password">
      </div>
      <div class="col-md-12 text-right m-2">
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <div class="col-md-12 text-center m-2">
        <ul class="list-group">
          <ng-template ngFor let-error [ngForOf]="errors">
            <li class="list-group-item list-group-item-danger">{{error}}</li>
          </ng-template>
        </ul>      
        </div>
    </div>
  </div>
</div>
